.todoLength_alert {
  padding: 20px;
  margin: 20px;
  width: 50%;
}

.button {
  padding: 10px;
  margin: 20px;
  background-color: aquamarine;
}

.button_clear {
  background-color: gray;
}

.todoLength_alert {
  padding: 20px;
}